LobbyCsharp/Battleships/Service References/ServiceCloud/LobbyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LobbyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://battleshipsservice.cloudapp.net/LobbyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://battleshipsservice.cloudapp.net/LobbyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://battleshipsservice.cloudapp.net/LobbyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" />
      <xsd:import schemaLocation="http://battleshipsservice.cloudapp.net/LobbyService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobbyService_GetAvailableRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableRooms" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetAvailableRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_CreatePlayLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlayLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_CreatePlayLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePlayLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetAvailableLobbyRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableLobbyRooms" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetAvailableLobbyRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableLobbyRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_SubscribeToLobbyRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToLobbyRoom" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_SubscribeToLobbyRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeToLobbyRoomResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_StartPlay_InputMessage">
    <wsdl:part name="parameters" element="tns:StartPlay" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_StartPlay_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartPlayResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayer" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_SendGameUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:SendGameUpdate" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_SendGameUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendGameUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetAllPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlayers" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetAllPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlayersResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_AddNewPlayer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPlayer" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_AddNewPlayer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewPlayerResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_NewId_InputMessage">
    <wsdl:part name="parameters" element="tns:NewId" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_NewId_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ILobbyService">
    <wsdl:operation name="GetAvailableRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/GetAvailableRooms" message="tns:ILobbyService_GetAvailableRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/GetAvailableRoomsResponse" message="tns:ILobbyService_GetAvailableRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePlayLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/CreatePlayLobby" message="tns:ILobbyService_CreatePlayLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/CreatePlayLobbyResponse" message="tns:ILobbyService_CreatePlayLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableLobbyRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/GetAvailableLobbyRooms" message="tns:ILobbyService_GetAvailableLobbyRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/GetAvailableLobbyRoomsResponse" message="tns:ILobbyService_GetAvailableLobbyRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeToLobbyRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/SubscribeToLobbyRoom" message="tns:ILobbyService_SubscribeToLobbyRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/SubscribeToLobbyRoomResponse" message="tns:ILobbyService_SubscribeToLobbyRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartPlay">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/StartPlay" message="tns:ILobbyService_StartPlay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/StartPlayResponse" message="tns:ILobbyService_StartPlay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/GetPlayer" message="tns:ILobbyService_GetPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/GetPlayerResponse" message="tns:ILobbyService_GetPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendGameUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/SendGameUpdate" message="tns:ILobbyService_SendGameUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/SendGameUpdateResponse" message="tns:ILobbyService_SendGameUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/GetAllPlayers" message="tns:ILobbyService_GetAllPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/GetAllPlayersResponse" message="tns:ILobbyService_GetAllPlayers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewPlayer">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/AddNewPlayer" message="tns:ILobbyService_AddNewPlayer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/AddNewPlayerResponse" message="tns:ILobbyService_AddNewPlayer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/NewId" message="tns:ILobbyService_NewId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/NewIdResponse" message="tns:ILobbyService_NewId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILobbyService" type="tns:ILobbyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableRooms">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/GetAvailableRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePlayLobby">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/CreatePlayLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableLobbyRooms">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/GetAvailableLobbyRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeToLobbyRoom">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/SubscribeToLobbyRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartPlay">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/StartPlay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayer">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/GetPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendGameUpdate">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/SendGameUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlayers">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/GetAllPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewPlayer">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/AddNewPlayer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewId">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/NewId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LobbyService">
    <wsdl:port name="BasicHttpBinding_ILobbyService" binding="tns:BasicHttpBinding_ILobbyService">
      <soap:address location="http://battleshipsservice.cloudapp.net/LobbyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>