LobbyCsharp/Battleships/Service References/ServiceCloud/LobbyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOLobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OLobby" nillable="true" type="tns:OLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOLobby" nillable="true" type="tns:ArrayOfOLobby" />
  <xs:complexType name="OLobby">
    <xs:sequence>
      <xs:element minOccurs="0" name="LobbyId" type="xs:int" />
      <xs:element minOccurs="0" name="LobbyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLobby" nillable="true" type="tns:OLobby" />
  <xs:complexType name="OPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OPlayer" nillable="true" type="tns:OPlayer" />
  <xs:complexType name="ArrayOfOLobbyRoom">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OLobbyRoom" nillable="true" type="tns:OLobbyRoom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOLobbyRoom" nillable="true" type="tns:ArrayOfOLobbyRoom" />
  <xs:complexType name="OLobbyRoom">
    <xs:sequence>
      <xs:element minOccurs="0" name="hostPlayer" nillable="true" type="tns:OPlayer" />
      <xs:element minOccurs="0" name="playerList" nillable="true" type="tns:ArrayOfOPlayer" />
      <xs:element minOccurs="0" name="theLobby" nillable="true" type="tns:OLobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OLobbyRoom" nillable="true" type="tns:OLobbyRoom" />
  <xs:complexType name="ArrayOfOPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OPlayer" nillable="true" type="tns:OPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOPlayer" nillable="true" type="tns:ArrayOfOPlayer" />
  <xs:complexType name="GameObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GameObject" nillable="true" type="tns:GameObject" />
</xs:schema>