LobbyCsharp/LobbyCsharp/Service References/ServiceReference1/LobbyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61363/LobbyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" />
  <xs:element name="GetAvailableRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" minOccurs="0" name="GetAvailableRoomsResult" nillable="true" type="q1:ArrayOfOLobby" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePlayLobby">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" minOccurs="0" name="host" nillable="true" type="q2:OPlayer" />
        <xs:element minOccurs="0" name="lobby" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePlayLobbyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableLobbyRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableLobbyRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" minOccurs="0" name="GetAvailableLobbyRoomsResult" nillable="true" type="q3:ArrayOfOLobbyRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToLobbyRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" minOccurs="0" name="player" nillable="true" type="q4:OPlayer" />
        <xs:element minOccurs="0" name="lobby" type="xs:int" />
        <xs:element minOccurs="0" name="host" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToLobbyRoomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" minOccurs="0" name="hostPlayer" nillable="true" type="q5:OPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartPlayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" minOccurs="0" name="GetPlayerResult" nillable="true" type="q6:OPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGameUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" minOccurs="0" name="player" nillable="true" type="q7:OPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGameUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" minOccurs="0" name="SendGameUpdateResult" nillable="true" type="q8:GameObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>