LobbyCsharp/Battleships/Service References/CreatePlayer/Createplayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OPlayer" nillable="true" type="tns:OPlayer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOPlayer" nillable="true" type="tns:ArrayOfOPlayer" />
  <xs:complexType name="OPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OPlayer" nillable="true" type="tns:OPlayer" />
</xs:schema>