LobbyCsharp/Battleships/Service References/CreatePlayer/Createplayer2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61363/Createplayer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" />
  <xs:element name="GetAllPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LobbyCsharp.Web.DTO" minOccurs="0" name="GetAllPlayersResult" nillable="true" type="q1:ArrayOfOPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
        <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewPlayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>